<div class="container">

	<br/><div>Listado de libros disponibles...</div><br/>

    <div *ngIf="cargando"><br/>CARGANDO...</div>

    <ul>
		<li *ngFor="let libro of libros">
			<div [ngStyle]="{'cursor':'pointer'}" 
					(click)="aniadirLibro(libro)">{{libro.title}} (Comprar)
			</div>
		</li>
	</ul>
	
	<!--Incluimos el siguiente código para que se muestre un mensaje de error
	si falló la carga de nuestro Array en la conexión con el fichero externo -->
	<div class="alert alert-warning" *ngIf="errorHttp">
		No se puede mostrar la lista.
	</div>
	
	<div *ngIf="(librosComprados.length>0)">
		<br/><div>Listado de libros comprados...</div><br/>
		<ul>
			<li *ngFor="let libro of librosComprados">
				<div [ngStyle]="{'cursor':'pointer'}" 
						(click)="quitarLibro(libro)">{{libro.title}} (Quitar)
				</div>
			</li>
		</ul>
	</div>

</div>
<!--
<app-shopping-cart-status 
	[precio]="precioTotal" 
	[modeloDeTienda]="modeloTienda.tiendaItems" 
	(pagar)="onPagar()">
</app-shopping-cart-status>
-->
<!--
<button class="button" (click)="comprarLibro(libro)">Comprar</button>
<a  [ngStyle]="{'cursor':'pointer'}">{{libro.title}}</a>&nbsp;
<a  [ngStyle]="{'cursor':'pointer'}"
	[routerLink]="['/detalle', libro.id]">Ver detalle
</a>
-->


